body {
    background: url(../images/background.jpg);
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    background-size: cover;
    padding: 70px 0;
}

.mainBody {
    height: 640px;
    width: 1280px;
    border: 1px solid silver;
    border-radius: 15px;
    margin: auto;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.05);
}

.mainBody nav {
    background-color: rgba(255, 255, 255, 0.0);
    z-index: -1;
    height: 120px;
    border-bottom: 1px solid silver;
}

.mainBody nav span {
    margin: 50%;
}

.leftBar, .rightBar {
    width: 320px;
    height: 160px;
    border: 1px solid silver;
    border-radius: 1px;
}